html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1, h2 {
     width: 100%;
    font-family: 'Amatic SC', cursive;
}
a{color: black;}
.wrapper {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.main section  {
     overflow: hidden;
 }
#arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 1%;
}
/* Landing Page Styles*/

.main section .page_container {width: 100%;
}
.landing{
    background-image: url("../media/mnp/HELLEBORUS1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#Title{
    text-align: center;
    width: 100%;
    float: none;
}
#logo {
    position: relative;
    width: auto;
    height: 250px;
}
.main section.landing h1 {
    margin-bottom: 5px;
    font-size: 60px;
    line-height:75px;
}
.main section.landing h2 {
    font-size: 50px;
    line-height: 100%;
}
#description
{
    visibility: hidden;
}

.image1{
    height: 50%;
    width: 100%;
    position: absolute;
    top:0;
    display: block;
}
.image2{
    display: block;
    height: 50%;
    width: 100%;
    bottom: 0;
    position: absolute;
}


.main section.page1.p1
{
    background-image: url("../media/ohhdeer/icp.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.main section.page1 h1 { text-align: center;
font-size: 70px}
.main section.page1 p {text-align: center;
font-size: 30px}

.main section.page2.p1 p
{
    position: absolute;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 40px;
    bottom: 1%;
    margin: 0;
}

#shell{
    height: 100%;
    width: 50%;
    left:0px;
}
#ice{
    height:100%;
    width:50%;
    right: 0px;
}
#notebook{
    height:100%;
    width: 100%;
    position:absolute;
}

.main section.page1.p2
{
    background-image: url("../media/mnp/blockflowers.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.main section.page1.sb
{
    background-image: url("../media/mnp/MONOVINES.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#daffsketch{
    height: 50%;
    width:50%;
    position: absolute;
    top:0;
    left:0;}
#daisessketch{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    right:0;
}
#rosesketch{height: 50%;width: 100%; position:absolute;bottom: 0;}
#villagesketch{width: 100%; height: 100%;}

.main section.contact
{
    background-image: url("../media/mnp/daffodilepattern.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#botanicals
{
    height: 100%;
    width: 100%;
}
#flowerprint
{
    height: 100%;
    width: 100%;
}

.main section.contact h2 {
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    padding-top: 15%;
}

/*TABLET STYLES*/
@media only screen and (min-width: 600px) {

#description{
    position: relative;
    font-size: 25px;
    width: 90%;
    padding-left: 5%;
    text-align: center;
    visibility: visible;
}

}





/*DESKTOP STYLES*/
@media only screen and (min-width: 768px) {
/* Landing Page Styles*/

.main section .page_container {
    /*Controls where the page container div is in each section*/
}
#Title{
    width: 320px;
    text-align: center;
    left: 100px;
}
#logo {
    position: relative;
    display: block;
    width: 245px;
    height: auto;
    left: 50px;
}
.main section.landing h1 {
    padding-left: 15px;
    margin-bottom: 5px;
    font-size: 75px;
}
.main section.landing h2 {
    font-size: 50px;
    line-height: 100%;
}
#description
{
    position: fixed;
    font-size: 25px;
    width: 35%;
    right:110px;
    top: 250px;
}


.main section.page2 .page_container {
    margin-top: 240px;
    overflow: hidden;
}
.main section.page2 h1 {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    font-size: 50px;
    letter-spacing: -1px;
    color: white;
}
.main section.page2 h2 {
    color: rgba(255,255,255,0.85);
    text-align: center;
    line-height: 160%;
    font-weight: 100;
}
.viewing-page-2 .back{
    background: rgba(0, 0, 0, 0.25);
    color: #FFF;
}
.main section.page3 {
}
.main section.page3 .page_container {
    overflow: hidden;
    width: 500px;
    right: -285px;
}
.main section.page3 h1 {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    font-size: 70px;
    letter-spacing: -1px;
    color: black;
}
.main section.page3 h2 {
    color: rgba(0,0,0,0.85);
    text-align: left;
    line-height: 160%;
    font-weight: 100;
    font-size: 21px;
}
body.disabled-onepage-scroll .onepage-wrapper  section {
    min-height: 100%;
    height: auto;
}
body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
    padding: 20px;
    margin-top: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body.disabled-onepage-scroll  section .page_container h1{
    text-align: center;
    font-size: 50px;
    width: 100%;
}
body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
    text-align: center;
    width: 100%;
}
body.disabled-onepage-scroll .main section.page1 > img {
    position: absolute;
    width: 80%;
    left: 10%;
}
body.disabled-onepage-scroll .main section > img {
    position: relative;
    max-width: 80%;
    bottom: 0;
}
body.disabled-onepage-scroll code {
    width: 95%;
    margin: 0 auto 25px;
    float: none;
    overflow: hidden;
}
body.disabled-onepage-scroll .main section.page3 .page_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}
}